/**
 * @ Author: {{.Author}}
 * @ Create Time: {{.CreateTime}}
 * @ Modified time: {{.ModifiedTime}}
 * @ Description: Public packages for {{.ServiceName}}
 */

// Package pkg provides public packages that can be imported by external applications.
package pkg

