/**
 * @ Author: {{.Author}}
 * @ Create Time: {{.CreateTime}}
 * @ Modified time: {{.ModifiedTime}}
 * @ Description: Schemas layer for {{.ServiceName}}
 */

// Package schemas provides request/response schemas for the application.
package schemas

