/**
 * @ Author: {{.Author}}
 * @ Create Time: {{.CreateTime}}
 * @ Modified time: {{.ModifiedTime}}
 * @ Description: Common utilities and helpers for {{.ServiceName}}
 */

// Package common provides common utilities and helpers for the application.
package common

