/**
 * @ Author: {{.Author}}
 * @ Create Time: {{.CreateTime}}
 * @ Modified time: {{.ModifiedTime}}
 * @ Description: Middlewares layer for {{.ServiceName}}
 */

// Package middlewares provides HTTP middleware functions for the application.
package middlewares

