/**
 * @ Author: {{.Author}}
 * @ Create Time: {{.CreateTime}}
 * @ Modified time: {{.ModifiedTime}}
 * @ Description: Database layer for {{.ServiceName}}
 */

// Package database provides database connection and management.
package database

