/**
 * @ Author: {{.Author}}
 * @ Create Time: {{.CreateTime}}
 * @ Modified time: {{.ModifiedTime}}
 * @ Description: Config layer for {{.ServiceName}}
 */

// Package config provides configuration loading and management for the application.
package config

