/**
 * @ Author: {{.Author}}
 * @ Create Time: {{.CreateTime}}
 * @ Modified time: {{.ModifiedTime}}
 * @ Description: Repository layer for {{.ServiceName}}
 */

// Package repository provides concrete implementations of domain repository interfaces.
package repository

