/**
 * @ Author: {{.Author}}
 * @ Create Time: {{.CreateTime}}
 * @ Modified time: {{.ModifiedTime}}
 * @ Description: HTTP transport layer for {{.ServiceName}}
 */
 
// Package http provides HTTP transport handlers.
package http

