/**
 * @ Author: {{.Author}}
 * @ Create Time: {{.CreateTime}}
 * @ Modified time: {{.ModifiedTime}}
 * @ Description: Routes layer for {{.ServiceName}}
 */

// Package routes provides HTTP route definitions and setup for the application.
package routes
