/**
 * @ Author: {{.Author}}
 * @ Create Time: {{.CreateTime}}
 * @ Modified time: {{.ModifiedTime}}
 * @ Description: WebSocket transport layer for {{.ServiceName}}
 */

// Package ws provides WebSocket transport handlers.
package ws

