/**
 * @ Author: {{.Author}}
 * @ Create Time: {{.CreateTime}}
 * @ Modified time: {{.ModifiedTime}}
 * @ Description: Entity layer for {{.ServiceName}}
 */

// Package entity contains domain entities and business objects.
package entity
