/**
 * @ Author: {{.Author}}
 * @ Create Time: {{.CreateTime}}
 * @ Modified time: {{.ModifiedTime}}
 * @ Description: Transport layer for {{.ServiceName}}
 */

// Package transport provides protocol-specific implementations (HTTP, gRPC, WebSocket) for the application.
package transport

