/**
 * @ Author: {{.Author}}
 * @ Create Time: {{.CreateTime}}
 * @ Modified time: {{.ModifiedTime}}
 * @ Description: Use case layer for {{.ServiceName}}
 */

// Package usecase provides business logic and use case implementations for the application.
package usecase

